<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ht.Ihsil.Rgph.App.Superviseur.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="adrIpServer" value="192.168.1.158" />
    <add key="adrMqttServer" value="192.168.1.3" />
  </appSettings>
  <connectionStrings>
    <!--<add name="RgphContext" connectionString="metadata=res://*/Entities.RgphSup.csdl|res://*/Entities.RgphSup.ssdl|res://*/Entities.RgphSup.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=G:\WORKSPACE\CSHARP\DESKSTOP_APPLICATION\AppSuperviseur.V.1.2_AV\Ht.Ihsil.Rgph.App.Superviseur\Ht.Ihsil.Rgph.App.Superviseur\bin\Debug\Data\rgph_db_sup.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="Entities" connectionString="metadata=res://*/entites.RgphMobile.csdl|res://*/entites.RgphMobile.ssdl|res://*/entites.RgphMobile.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=D:\WORKSPACE\CSHARP\DESKSTOP_APPLICATION\AppSuperviseur.V.1.2_AV\Ht.Ihsil.Rgph.App.Superviseur\Data\rgph_data-db.SQLITE&quot;" providerName="System.Data.EntityClient" />
    <add name="MobileContext" connectionString="metadata=res://*/entites.RgphMobile.csdl|res://*/entites.RgphMobile.ssdl|res://*/entites.RgphMobile.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=D:\WORKSPACE\CSHARP\DESKSTOP_APPLICATION\AppSuperviseur.V.1.2_AV\Ht.Ihsil.Rgph.App.Superviseur\Data\rgph_data-db.SQLITE&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="RgphContext" connectionString="metadata=res://*/Entities.SupEntities.RgphSup.csdl|res://*/Entities.SupEntities.RgphSup.ssdl|res://*/Entities.SupEntities.RgphSup.msl;provider=System.Data.SQLite.EF6;provider connection string=&quot;data source=G:\WORKSPACE\CSHARP\DESKSTOP_APPLICATION\AppSuperviseur.V.1.3\Ht.Ihsil.Rgph.App.Superviseur\Ht.Ihsi.Rgph.DataAccess\Data\rgph_sup-db.sqlite&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <applicationSettings>
    <Ht.Ihsil.Rgph.App.Superviseur.Properties.Settings>
      <setting name="Ht_Ihsil_Rgph_App_Superviseur_RgphWebService_RGPHServiceService" serializeAs="String">
        <value>http://192.168.1.158:8080/rgph/rgph-webservice</value>
      </setting>
    </Ht.Ihsil.Rgph.App.Superviseur.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2013</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
    </DbProviderFactories>
  </system.data>
</configuration>